flask==3.1.0
flask-cors==5.0.0
anthropic==0.39.0
googlemaps==4.10.0
python-dotenv==1.0.1
pydantic==2.9.2
stripe==11.1.0
requests==2.32.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-login==0.6.3
werkzeug==3.1.0
gunicorn==23.0.0
